.container {
  padding: 0 24px;
}

.bg-img {
  background-image: url("./assets/bg-mobile-light.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.text {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #9495a5;
  text-align: center;
}

@media (min-width: 640px) {
  .container {
    padding: 0;
  }

  .wrapper {
    max-width: 560px;
    margin: auto;
  }

  .bg-img {
    background-image: url("./assets/bg-desktop-light.jpg");
    height: 300px;
  }
}
