.container {
  width: 100%;
  height: 100vh !important;
  padding: 0 24px;
  background: #fafafa;
}

.container--dark {
  width: 100%;
  height: 100vh !important;
  padding: 0 24px;
  background: #171823;
}

.wrapper {
  padding-bottom: 47px;
}

.bg-img {
  background-image: url("./assets/bg-mobile-light.jpg");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  height: 200px;
}

.bg-img--dark {
  background-image: url("./assets/bg-mobile-dark.jpg");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  height: 200px;
}

.text {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #9495a5;
  text-align: center;
}

.text--dark {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #5b5e7e;
  text-align: center;
}

@media (min-width: 640px) {
  .container {
    padding: 0;
  }

  .wrapper {
    max-width: 560px;
    margin: auto;
  }

  .bg-img {
    background-image: url("./assets/bg-desktop-light.jpg");
    height: 300px;
  }
}
