.container {
  margin-bottom: 16px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.circle {
  width: 20px;
  height: 20px;
  border: 1px solid #e3e4f1;
  border-radius: 50%;
}

.circle--dark {
  width: 20px;
  height: 20px;
  border: 1px solid #393a4b;
  border-radius: 50%;
}

.ipt {
  border: none;
  background: #ffffff;
  color: #393a4b;
}

.ipt--dark {
  border: none;
  background: #25273d;
  color: #c8cbe7;
}

.ipt::placeholder {
  color: #9495a5;
}

.ipt--dark::placeholder {
  color: #767992;
}

.ipt:focus {
  outline: none;
}

.ipt--dark:focus {
  outline: none;
}

@media (min-width: 640px) {
  .wrapper {
    gap: 24px;
  }

  input {
    font-size: 18px;
    caret-color: #3a7cfd;
  }
}
