.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #e3e4f1;
  border-radius: 50%;
  background: #ffffff;
}

.circle--dark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #393a4b;
  border-radius: 50%;
  background: #25273d;
}

.text {
  font-size: 12px;
  color: #494c6b;
}

.text--dark {
  font-size: 12px;
  color: #c8cbe7;
}

.icon-cross {
  position: absolute;
  top: 0;
  right: 0;
}

.completed {
  border: none;
  background: linear-gradient(120deg, #55ddff, #c058f3);
}

.todo-completed {
  color: #d1d2da;
  text-decoration: line-through;
}

.todo-completed--dark {
  color: #4d5067;
  text-decoration: line-through;
}

@media (min-width: 640px) {
  .container:hover {
    cursor: pointer;
  }

  .wrapper {
    gap: 24px;
  }

  .circle:hover {
    cursor: pointer;
    border-color: #3a7cfd;
  }

  .circle--dark:hover {
    cursor: pointer;
    border-color: #3a7cfd;
  }

  .text {
    font-size: 18px;
  }

  .text--dark {
    font-size: 18px;
  }

  .wrapper:hover {
    cursor: pointer;
  }

  .wrapper .icon-cross {
    display: none;
  }

  .container:hover .icon-cross {
    display: block;
  }
}
